@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-text-fill-color: #ffffff;
    box-shadow: 0 0 0 1000px rgba(24, 24, 27, 0.7) inset;
    caret-color: #ffffff;
    transition: background-color 9999s ease-in-out 0s;
  }
}
